<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1>Transactions:</h1>
		Welcome <span sec:authentication="principal.username"> User</span>
	</div>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Les details des transactions:</div>
			<div class="panel-body">
				<div class="panel panel-success">
					<div class="panel-heading">Liste des transactions</span></div>
					<div class="panel-body">
						<table class="table table-stripped">
							<thead>
								<tr>
									<th>id</th>
									<th>AccountID</th>
									<th>TransactionDate</th>
									<th>TransactionType</th>
									<th>amount</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="e:${transactions}">
									<td th:text=${e.id}></td>
									<td th:text=${e.accountID}></td>
									<td th:text=${e.transactionDate}></td>
									<td th:text=${e.transactionType}></td>
									<td th:text=${e.amount}></td>
									<td><a class="btn btn-danger" href="#">Supprimer la transaction</a>
									</td>
								</tr>
							</tbody>
						</table>
						<hr />
						<a class="btn btn-primary"
								href="#">Ajouter une transaction</a>
						<a class="btn btn-warning"
								th:href="@{/startJob}">Executer le batch</a>
					</div>
				</div>
</body>
</html>